@font-face {
    font-family: 'Jan';
    src: url(../Fuentes/January\ Night.ttf);
}

@font-face {
    font-family: 'Quilka';
    src: url(../Fuentes/Qilka-Bold.ttf);
}

* {
    padding: 0%;
    margin: 0%;
}

.Fondo-arriba {
    width: 100%;
    height: 40vh;
    background-image: url(../Imagenes/Aesthetic\ Pink\ Wallpaper.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-size: cover;

}

.Foto-perfil {
    width: 15%;
    border-radius: 50%;
    position: absolute;
    bottom: -2rem;

}

.texto {
    font-family: 'Quilka';
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nombre {
    font-family: 'Jan';
    font-size: 45px;
}

.datos {
    font-family: 'Jan';
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.resume {
    width: 15%;
    background-color: #f4c0c4;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -1rem;
    border-radius: 2rem;
}


.subtitulo{
    font-family: 'Quilka';
    font-size: 20px;
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

.educacioncompleta {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}


.Educacion {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
}

.titulo {
    font-family: 'Quilka';
}

.edu1 {
    background-color: #f4c0c4;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    padding: 1rem;

}

.info {
    font-family: 'Jan';
    font-size: 30px;
}

.info1 {
    font-family: 'Quilka';
    font-size: 30px;
}


.experience {
    width: 90%;
}

.exp1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
}

.cuadro {
    width: 25%;
    height: 200px;
    background-color: #f4c0c4;
    border-radius: 8px;
    padding: 1rem;
}
.progresos{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.contenedor-progreso{
    background-color: #f4c0c4;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    padding: 1rem; 
}
.social-media{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem; 
}
.contenedor-redes{
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    padding: 1rem; 
}
.redes{
    width: 15%;
    border-radius: 50%
}

